<!-- a) Buscador -->

<div class="mat-elevation-z1">
<mat-form-field >
   <mat-label>Buscar</mat-label>
   <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtro" #input>
</mat-form-field>
<!-- b) conexión de la propiedad de mat-table que permite insertar datos. (con opciones de ordenación) -->
<table mat-table [dataSource]="dataSource" matSort>
<!-- c) Bloques de campos. -->
<ng-container matColumnDef="make_and_model">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Marca-modelo </th>
<td mat-cell *matCellDef="let element" class="left-text">{{element.make_and_model}}
</td>
</ng-container>
<ng-container matColumnDef="color">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
  <td mat-cell *matCellDef="let element" class="left-text">{{element.Color}}
  </td>
  </ng-container>
  <ng-container matColumnDef="transmission">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de transmisión</th>
    <td mat-cell *matCellDef="let element" class="left-text">{{element.transmission}}
    </td>
    </ng-container>
    <ng-container matColumnDef="fuel_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Combustible </th>
      <td mat-cell *matCellDef="let element" class="left-text">{{element.fuel_type}}
      </td>
      </ng-container>
      <ng-container matColumnDef="doors">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nº puertas </th>
        <td mat-cell *matCellDef="let element" class="left-text">{{element.doors}}
        </td>
        </ng-container>
        <ng-container matColumnDef="kilometrage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Km </th>
          <td mat-cell *matCellDef="let element" class="left-text">{{element.kilometrage}}
          </td>
          </ng-container>

<!-- d)  Definición de cabeceras -->
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- e) Bloque final de paginación y -->
<mat-paginator [pageSizeOptions]="[5,10,20,50,100]"></mat-paginator>
