<div class="row">
  <div class="col-lg-4">
    <form #f="ngForm">
    <div class="form-group">
      <label for="id">IDENTIFICADOR</label>
      <input type="text" name="id" id="id"
       class="form-control" placeholder="Enter id" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="nombre">NOMBRE</label>
      <input type="text" name="nombre"
      id="nombre" class="form-control" placeholder="Enter Nombre" aria-describedby="helpId" >
    </div>
  </form>
  <button class="btn btn-info m-2" (click)="EnviarMensaje(f)">Enviar mensajes</button>
  <button class="btn btn-danger m-2" (click)="LeerMensajes(f)">Leer mensajes</button>
  <!-- <button class="btn btn-primary m-2" (click)="refrescar()">Refrescar</button> -->
</div>
