<div *ngIf="empleados!=null";Else esperando>

</div>
<table class="table table-bordered">
<thead>
  <th>Nombre</th>
  <th>Direccion</th>
  <th>Cargo</th>
  <th>Edad</th>
  <th>Imagen</th>
  <th>Eliminar</th>
  <th>Modificar</th>
</thead>

<tbody>
<tr *ngFor="Let emp of empleados">
<td>{{emp.nombre}}</td>
<td>{{emp.direccion}}</td>
<td>{{emp.cargo}}</td>
<td>{{emp.edad}}</td>
<td>
  <img src={{emp.imagen}} width="100" height="100">
</td>
<td><button class="btn btn-danger"></button></td>
<td><button class="btn btn-success"></button></td>
</tr>
</tbody>

</table>
<ng-Template #esperando></ng-Template>
